*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(224, 224, 224) ;
    margin-bottom: 100px;
}

header{
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

header button{
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: blue;
    color: #eeeeee;
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    box-shadow: 0px 2px 0px  rgb(104, 106, 250);
}


table{
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}

th,td{
    text-align: left;
    padding: 8px;  
    height: 60px; 
}

tr:nth-child(even){
    background-color: #f3f3f3;
}
tr:nth-child(odd){
    background-color: #cecece;
}

th{
    background-color: blue;
    color: #ffffff;
}

table button{
    color: white;
    background-color: blue;
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    margin-right: 8px;
}
a{
    color: white;
    background-color: blue;
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    margin-right: 8px;
}